@charset "UTF-8";

div.wrapper {
	width : 800px;
	margin : 0 auto;
}
div.wrapper>h2 {
	text-align : center;
}
table {
	width : 800px;
	margin : 0 auto;
}
pre {
	width : 600px;
	height : 200px;
	overflow : auto;
}
input#reply_txt {
	width : 600px;
}